<div class="card py-2">
  <div class="card-header">
    Add Comment to "{{post.title}}"
  </div>
  <div class="card-body">
    <form class="add-comment-form">
      <div class="form-group">
        <label for="comment-body" class="form-label">Comment:</label>
        <textarea class="form-control" rows="3" id="comment-body" required></textarea>
      </div>
      <input type="hidden" id="post-id" value="{{post.id}}">
      <button type="submit" class="btn btn-primary">Submit Comment</button>
    </form>
  </div>
</div>
